@use 'variables';

.event {

    padding: 80px 0;

    &--frontend {
        background-image: linear-gradient(variables.$blueGradiant1, variables.$blueGradiant2);
    }

    &--ui-ux {
        background-image: linear-gradient(variables.$blueGradiant2, variables.$pinkGradiant3);
    }

    &--data-science {
        background-image: linear-gradient(variables.$pinkGradiant3, variables.$yellowGradiant4);
    }

    &--backend {
        background-image: linear-gradient(variables.$yellowGradiant4, variables.$pinkGradiant3);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        gap: 40px;
        display: flex;
    }

    &__image {
        max-width: 360px;
    }

    &__details {

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }

    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

}